[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
playsound = "*"
openai = "*"
speechrecognition = "*"
pyobjc = "*"
gtts = "*"
flask = "*"
flask-sqlalchemy = "*"
sqlalchemy-serializer = "*"
flask-migrate = "*"
importlib-resources = "*"
flask-restful = "*"

[dev-packages]

[requires]
python_version = "3.9"
