@tailwind base;

@tailwind components;

@tailwind utilities;

.login-style,
.chat-box {
  width: 500px; /* Set width to 500px */
  height: 600px; /* Set height to 600px */
  background: linear-gradient(0deg, #1E2C3D 0%, #3E364E 100%);
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);
  font-family: 'Helvetica Neue';
  color: #414141;
  line-height: 1em;
  padding: 15px;
  overflow: auto;
  position: relative;
  transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  overflow-y: auto;
}

.chat-bubble {
  position: relative;
  background-color: rgba(32,178,170, 0.4);
  padding: 10px 15px;
  border-radius: 20px;
  max-width: 70%;
  margin: 10px;
  word-wrap: break-word;
  text-align: left;
  font-size: 16px;
  line-height: 1.5;
  margin-left: auto;
  margin-right: 0;
}

.response-style {
  background-color: rgba(188,143,143, 0.4);
  padding: 10px 15px;
  border-radius: 20px;
  max-width: 70%;
  margin: 10px;
  word-wrap: break-word;
  text-align: left;
  font-size: 16px;
  line-height: 1.5;
  margin-left: 0;
  margin-right: auto;
}

@media only screen and (max-width: 720px) {
  html {
    overflow: hidden;
  }
}
.fetchbuttons {
  font-size: 12px;
  font-family: "Lucida Grande";
  text-decoration: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: white;
  display: inline-block;
  padding: 0.4em 1em;
  border: 0.1em solid #3e65b3;
  border-radius: 0.38em;
  background-image: linear-gradient(#62a6ed, #4b78d6);
}
.custom-window {
    width: 500px; /* Set width to 500px */
    height: 600px; /* Set height to 600px */
    background: linear-gradient(0deg, #1E2C3D 0%, #3E364E 100%);
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.3);
    font-family: 'Helvetica Neue';
    color: #414141;
    line-height: 1em;
    padding: 15px;
    overflow: auto;
    position: relative;
    transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
    overflow-y: auto;
}
.bg-custom-700 {
  background-color: #374151;
}

.chat-bubble-secondary {
  background-color: #fefcbf; /* Different color */
  /* other styling */
}
.chat-bubble-third {
  background-color: #1ac6c8; /* Different color */
  /* other styling */
}